name: .NET Test

on:
  workflow_call:
    inputs:
      deployNugets:
        description: "When true, will deploy packages to nuget.org"
        required: true
        type: boolean
        default: false
    secrets:
      CODECOV_TOKEN:
        required: true
      CONNECTORS_NUGET_TOKEN:
        required: false

  pull_request: {}

jobs:
  test_and_pack:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.4xx # Align with global.json (including roll forward rules)

      - name: Cache Nuget
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: ⚒️ Run Build and Pack
        run: ./build.sh pack

      - name: ⚒️ Run tests
        run: ./build.sh test

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        with:
          files: Converters/**/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Push to nuget.org
        if: ${{ inputs.deployNugets }}
        run: dotnet nuget push output/*.nupkg --source "https://api.nuget.org/v3/index.json" --api-key ${{ secrets.CONNECTORS_NUGET_TOKEN }} --skip-duplicate
