name: .NET Build

on: pull_request

jobs:
  build: # This job is poised to be removed. The `test` workflow should be doing everything that this one does.
    # However, I want to let both run side-by-side for a week or two to see how things behave in practice
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.4xx # Align with global.json (including roll forward rules)

      - name: Cache Nuget
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: ⚒️ Run build
        run: ./build.ps1 test
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.4xx # Align with global.json (including roll forward rules)

      - name: Cache Nuget
        uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}

      - name: ⚒️ Run tests
        run: ./build.sh test

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        with:
          files: Converters/**/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
